@model NBP_1_2.Models.FootballTeam

@{
    ViewData["Title"] = "Edit Football Team";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" disabled="true" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeTown" class="control-label"></label>
                <input asp-for="homeTown"  class="form-control" />
                <span asp-validation-for="homeTown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stadiumName" class="control-label"></label>
                <input asp-for="stadiumName" class="form-control" />
                <span asp-validation-for="stadiumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification_min.js"></script>